affinity: {}

deployment:
  metadata:
    annotations:
  spec:
    template:
      metadata:
        annotations:

fullnameOverride: ""

image:
  pullPolicy: Always
  registry: docker.io
  repository: senzing/yum
  tag: latest

imagePullSecrets: []

nameOverride: ""
nodeSelector: {}
rbacEnabled: false
replicaCount: 1
resources: {}

securityContext:
  enabled: true
  runAsUser: 1001
  runAsGroup: 1001
  fsGroup: 1001

senzing:
  acceptEula: ""
  persistentVolumeClaim: senzing-persistent-volume-claim

tolerations: []
