affinity: {}

deployment:
  metadata:
    annotations:
  spec:
    template:
      metadata:
        annotations:
        
fullnameOverride: ""

image:
  pullPolicy: Always
  registry: docker.io
  repository: senzing/senzing-api-server
  tag: latest

imagePullSecrets: []

ingress:
  annotations: {}
  enabled: false
  hosts:
    - host: chart-example.local
      paths: []
  tls: []

nameOverride: ""
nodeSelector: {}
replicaCount: 1
resources: {}

securityContext:
  enabled: true
  runAsUser: 1001
  runAsGroup: 1001
  fsGroup: 1001

senzing:
  bindAddr: all
  iniFile: /etc/opt/senzing/G2Module.ini
  persistentVolumeClaim: senzing-persistent-volume-claim

service:
  port: 8080
  type: ClusterIP

tolerations: []
